<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="slayableSection" type="Slayer.SlayableConfigurationSection, Slayer" allowLocation="true" allowDefinition="Everywhere" />
    <section name="slayerColourThemeSection" type="Slayer.SlayerColourThemeSection, Slayer" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <slayableSection>
    <applications>
      <add name="Delphi 5" processName="delphi32" preview="true" default="true" />
      <add name="Borland Developer Studio" processName="bds" preview="true" />
    </applications>
  </slayableSection>
  <slayerColourThemeSection theme="solarised_dark">
    <themes>
      <add Name="desert" 
           ApplicationBackground="#382710"
           ApplicationButtonBackground="#d1af7e"
           ApplicationButtonForeground="#B13E46"
           ProcessBorder="#d1af7e"
           ProcessButtonBackground="#d1af7e"
           ProcessButtonForeground="#B13E46"
           ProcessDataForeground="#B57946"
           ProcessCaptionForeground="#382710"
           />
      <add Name="solarised_dark"
           ApplicationBackground = "#002b36"
           ApplicationButtonBorder = ""
           ApplicationButtonBackground = ""
           ApplicationButtonForeground = "#eee8d5"
           ProcessHeadingForeground = "#d33682"
           ProcessBorderBackground = "#073642"
           ProcessBorder = "#586e75"
           ProcessButtonBorder = ""
           ProcessButtonBackground = ""
           ProcessButtonForeground = "#eee8d5"
           ProcessCaptionForeground = "#268bd2"
           ProcessDataForeground = "#2aa198"
           />
    </themes>
  </slayerColourThemeSection>
</configuration>
