<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="slayableSection" type="Slayer.SlayableConfigurationSection, Slayer" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <slayableSection>
    <applications>
      <add name="Delphi 5" processName="delphi32" preview="true" />
      <add name="Borland Developer Studio" processName="bds" preview="true" />
    </applications>
  </slayableSection>
</configuration>
