<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="slayableSection" type="Slayer.SlayableConfigurationSection, Slayer" allowLocation="true" allowDefinition="Everywhere" />
    <section name="slayerColourThemeSection" type="Slayer.SlayerColourThemeSection, Slayer" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <slayableSection>
    <applications>
      <add name="Delphi 5" processName="delphi32" preview="true" default="true"/>
      <add name="Borland Developer Studio" processName="bds" preview="false" />
      <add name="Visual Studio" processName="Devenv" preview="false" />
      <add name="HQ Client" processName="HQClient" preview="false" />
    </applications>
  </slayableSection>
  <slayerColourThemeSection theme="default">
    <themes>
      <add Name="desert" ApplicationBackground="#382710" ApplicationButtonBackground="#d1af7e"
        ApplicationButtonForeground="#B13E46" ProcessHeadingForeground="#d1af7e"
        ProcessBorder="#d1af7e" ProcessButtonBackground="#d1af7e" ProcessButtonForeground="#B13E46"
        ProcessCaptionForeground="#d1af7e" ProcessDataForeground="#B57946" />
      <add Name="solarised_dark" ApplicationBackground="#002b36" ApplicationButtonBorder=""
        ApplicationButtonBackground="" ApplicationButtonForeground="#eee8d5"
        ProcessHeadingForeground="#d33682" ProcessBorderBackground="#073642"
        ProcessBorder="#586e75" ProcessButtonBorder="" ProcessButtonBackground=""
        ProcessButtonForeground="#eee8d5" ProcessCaptionForeground="#268bd2"
        ProcessDataForeground="#2aa198" />
      <add Name="turbo_pascal" ApplicationBackground="#000080" ApplicationButtonBorder=""
        ApplicationButtonBackground="" ApplicationButtonForeground="#F9FC1A"
        ProcessHeadingForeground="#F9FC1A" ProcessBorderBackground=""
        ProcessBorder="#F9FC1A" ProcessButtonBorder="" ProcessButtonBackground=""
        ProcessButtonForeground="#F9FC1A" ProcessCaptionForeground="#F9FC1A"
        ProcessDataForeground="#F9FC1A" />
    </themes>
  </slayerColourThemeSection>
</configuration>
