<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="slayableSection" type="Slayer.SlayableConfigurationSection, Slayer" allowLocation="true" allowDefinition="Everywhere" />
    <section name="slayerColourThemeSection" type="Slayer.SlayerColourThemeSection, Slayer" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <slayableSection>
    <applications>
      <add name="Delphi 5" processName="delphi32" preview="true" default="true"/>
      <add name="Borland Developer Studio" processName="bds" preview="false" />
      <add name="Visual Studio" processName="Devenv" preview="false" />
      <add name="HQ Client" processName="HQClient" preview="false" />
    </applications>
  </slayableSection>
</configuration>
